.git
.github
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
auth.json
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
database/*.sqlite
node_modules
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
vendor
